figure, p {
  margin: 0;
  padding: 0;
}
img {
  height: auto;
  max-width: 100%;
}

.words {
  margin: 10px 5px 3px 5px;
}

.image.word {
  height: 90px;
  width: 135px;
}
.image {
  display: block;
  position: relative;
}
.image img {
  vertical-align: top;
  display: block;
  height: auto;
  width: 100%;
}
.media + .media {
  border-top: 1px solid rgba(219, 219, 219, .5);
  margin-top: 1rem;
  padding-top: 1rem;
}
.media {
  align-items: flex-start;
  display: flex;
  text-align: inherit;
  font-family: 'Open Sans', sans-serif;
}
.media .content {
  padding-bottom: .75rem
}
.media .content:not(:last-child) {
  margin-bottom: .75rem
}
.media-left,.media-right {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0
}
.media-left {
  margin-right: 1rem
}
.media-right {
  margin-left: 1rem
}
.media-content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: inherit;
  overflow-x: auto;
}

.media-content p {
  white-space: nowrap;
}
.media-content p:first-child {
  margin-bottom: 7px;
}
.media-content p:not(:first-child):first-letter {
  color: #00a0ff;
}