figure, .media p {
  margin: 0;
  padding: 0;
}
img {
  height: auto;
  max-width: 100%;
}

.words {
  margin: 10px 5px 3px 5px;
}

.image.word {
  height: 90px;
  width: 135px;
}
.image img {
  vertical-align: top;
  display: block;
  height: 90px;
  width: 135px;
  object-fit: cover;
}
.media + .media {
  border-top: 1px solid rgba(219, 219, 219, .5);
  margin-top: 1rem;
  padding-top: 1rem;
}
.media {
  align-items: flex-start;
  display: flex;
  text-align: inherit;
}
.media .content {
  padding-bottom: .75rem
}
.media .content:not(:last-child) {
  margin-bottom: .75rem
}
.media-left {
  display: flex;
  width: 135px;
  margin-right: 1rem
}
.media-content {
  display: flex;
  flex: 1;
  overflow-x: auto;
}

.media-content p {
  white-space: nowrap;
}
.media-content p:first-child {
  margin-bottom: 7px;
}